---
import cam from '../assets/cam.svg'
import calen from '../assets/calen.svg'
import mes from '../assets/mes.svg'
import icoLogo from '../assets/icoLogo.svg'
import mano2 from '../assets/mano2.png';
import planes from '../assets/planes.png'

---

<main class="flex flex-col w-full items-center mt-20 relative">
    <img src={cam.src} alt="Cam" class="w-24 h-auto" />
     <img src={planes.src} alt="image" class="w-5/12 sm:w-96 mb-4">
  
    <p class="text-center text-gray-600 font-extrabold text-3xl mt-0">Consultas ilimitadas</p>
    <p class="text-center text-gray-600 text-2xl">con médicos generales</p>
    <p class="text-center text-gray-600 text-2xl mb-10">y especialistas</p>

    <p class="text-center text-gray-600 font-bold text-2xl">Desde</p>
    <div class="flex flex-row items-end mb-5">
        <p class="text-center text-orange-500 font-bold text-6xl mr-2">$4.990</p> 
        <p class="text-orange-500 font-bold text-2xl">COP</p>
    </div>
    <img src={mes.src} alt="mes" class="w-80 h-auto mb-8" />
    <img src={mano2.src} alt="mano" class="hidden lg:block xl:block 2xl:block absolute left-20 w-80"/>
    <img src={mano2.src} alt="mano" class="hidden sm:block md:block w-72"

    />


</main>