---
import icoLogo from '../../../assets/icoLogo.svg'
import seguro from '../../../assets/seguro.png';
import incluye from '../../../assets/incluye.png'

---

<main class="mt-6">
    <div class="container mx-auto flex flex-row md:flex-row items-center justify-center gap-8">

        <div class="w-full md:w-1/2 text-left md:text-left">
            <div class="w-auto">      
                <p class="font-bold text-pink-700 text-3xl mb-2 sm:text-2xl">Poliza de vida</p>
            <div class="mb-8">
                <p class="font-semibold text-gray-600 text-2xl mb-4 sm:text-xl">Amparos:</p>
    
                <!-- Amparo 1: Muerte por cualquier causa -->
                <div class="flex items-center">
                    <img src={icoLogo.src} alt="imagen" class="w-4 h-6 mr-3" />
                    <p class="text-gray-600 font-semibold text-base">Muerte por cualquier causa</p>
                </div>
    
                <!-- Amparo 2: Incapacidad total y permanente por enfermedad o accidente -->
                <div class="flex items-center">
                    <img src={icoLogo.src} alt="imagen" class="w-4 h-6 mr-3" />
                    <p class="text-gray-600 font-semibold text-base" >Incapacidad total y permanente por enfermedad o accidente</p>
                </div>
    
                <!-- Amparo 3: Enfermedades graves -->
                <div class="flex items-center">
                    <img src={icoLogo.src} alt="imagen" class="w-4 h-6 mr-3" />
                    <p class="text-gray-600 font-semibold text-base">Enfermedades graves</p>
                </div>
            </div>
    
            <p class="font-bold text-pink-700 text-3xl mb-2 sm:text-2xl">Póliza de accidentes personales</p>
    
            <p class="font-semibold text-gray-600 text-2xl mb-4 sm:text-xl">Amparos:</p>
    
            <!-- Amparo 4: Muerte accidental -->
            <div class="flex items-center">
                <img src={icoLogo.src} alt="imagen" class="w-4 h-6 mr-3" />
                <p class="text-gray-600 font-semibold text-base">Muerte accidental</p>
            </div>
    
            <!-- Amparo 5: Invalidez accidental y/o desmembración -->
            <div class="flex items-center">
                <img src={icoLogo.src} alt="imagen" class="w-4 h-6 mr-3" />
                <p class="text-gray-600 font-semibold text-base">Invalidez accidental y/o desmembración</p>
            </div>
    
            <!-- Amparo 6: Auxilio funerario -->
            <div class="flex items-center">
                <img src={icoLogo.src} alt="imagen" class="w-4 h-6 mr-3" />
                <p class="text-gray-600 font-semibold text-base">Auxilio funerario</p>
            </div>
                <img src={incluye.src} alt="valor poliza" class="w-8/12 mt-6">
            </div>    </div>
        <div class="w-auto md:w-1/2">
            <img src={seguro.src} alt="mano" class="md:hidden w-96 h-auto">
        </div>
      </div>

</main>
       

